<form [formGroup]="formGroup" fxLayout="row">
  <div fxFlex="50%" fxLayout="column">
    <mat-form-field fxFlex [hideRequiredMarker]="false" [floatLabel]="auto">
      <input matInput type="text" placeholder="UUID V1"
        formControlName="uuidV1" required="false" readonly>
      <button (click)="resetUuidV1()" matSuffix mat-icon-button matTooltip="Reset"><mat-icon>replay</mat-icon></button>
      <button (click)="copyUuidV1()" matSuffix mat-icon-button matTooltip="Copy"><mat-icon>file_copy</mat-icon></button>
      <mat-hint>Generate a v1 UUID (time-based)</mat-hint>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto">
      <input matInput type="text" placeholder="UUID V4"
        formControlName="uuidV4" required="false" readonly>
      <button (click)="resetUuidV4()" matSuffix mat-icon-button matTooltip="Reset"><mat-icon>replay</mat-icon></button>
      <button (click)="copyUuidV4()" matSuffix mat-icon-button matTooltip="Copy"><mat-icon>file_copy</mat-icon></button>
      <mat-hint>Generate a v4 UUID (random)</mat-hint>
    </mat-form-field>
  </div>
</form>