<div class="mapComponent">
  <div id="LayerMapOption" class="layer">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Map options</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroup" (ngSubmit)="onMove()">
        <!-- longitude -->
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false" floatLabel="auto">
            <input matInput type="text" placeholder="Longtitude"
              formControlName="longitude" required="true">
            <mat-error *ngIf="formGroup.controls.longitude.errors?.required">
              Longitude is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- latitude -->
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false" floatLabel="auto">
            <input matInput type="text" placeholder="Latitude" formControlName="latitude"
              required="true">
            <mat-error *ngIf="formGroup.controls.latitude.errors?.required">
              Latitude is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- zoom -->
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false" floatLabel="auto">
            <input #zoom matInput type="text" placeholder="Zoom" formControlName="zoom"
              required="true">
            <mat-error *ngIf="formGroup.controls.zoom.errors?.required">
              Zoom is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button 
                (click)="moveToHome()"
                mat-icon-button
                color="default"
                matTooltip="Move to home"><mat-icon>home</mat-icon></button>
          <button mat-button [disabled]="!formGroup.valid" color="default">Move</button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
  <div id="LayerSelectType" class="layer">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Options</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroupSelecType">
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false" floatLabel="auto">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let option of selectTypes" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div fxLayout="row">
            <mat-form-field fxFlex [hideRequiredMarker]="false" floatLabel="auto">
              <input matInput type="number" min="1" step="1" placeholder="Radius" formControlName="randomRadius"
                required="true">
              <mat-error *ngIf="formGroupSelecType.controls.randomRadius.errors?.required">
                Radius is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex [hideRequiredMarker]="false" floatLabel="auto">
              <input matInput type="number" min="1" step="10" placeholder="Count" formControlName="randomCount"
                required="true">
              <mat-error *ngIf="formGroupSelecType.controls.randomCount.errors?.required">
                Count is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex [hideRequiredMarker]="false" floatLabel="auto">
              <input matInput type="number" placeholder="Longitude" formControlName="randomLng"
                required="true">
              <mat-error *ngIf="formGroupSelecType.controls.randomLng.errors?.required">
                Longitude is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex [hideRequiredMarker]="false" floatLabel="auto">
              <input matInput type="number" placeholder="Latitude" formControlName="randomLat"
                required="true">
              <mat-error *ngIf="formGroupSelecType.controls.randomLat.errors?.required">
                Latitude is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <button 
                fxFlex="48px"
                (click)="moveToHome()"
                mat-icon-button
                color="default"
                matTooltip="Show in map"><mat-icon>edit_location</mat-icon></button>
          </div>
          <button (click)="onSelectType()" type="button" mat-button color="default">Random</button>
        </div>
        
      </form>
    </mat-expansion-panel>
    
  </div>
  <div id="mapPoint" class="mapContainer"></div>
</div>