.mapComponent {
  position: relative;
  width: 100%;
  height: 450px;
}
.mapContainer {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
.layer {
  position: absolute;
  z-index: 100;
}
#LayerMapOption {
  top: 5px;
  left: 5px;
}
#LayerResult {
  top: 5px;
  right: 5px;
}
#LayerResult table {
  width: 370px;
}
#LayerSelectType {
  top: 5px;
  left: 245px;
}